// @mixin 通过 @include 调用使用
// % 通过 @extend 调用使用

// 文字超出隐藏，默认为单行超出隐藏，可设置多行
@mixin text-overflow($line: 1, $fixed-width: true) {
    @if ($line==1 and $fixed-width==true) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @else {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
        overflow: hidden;
    }
}

// 定位居中，默认水平居中，可选择垂直居中，或者水平垂直都居中
@mixin position-center($type: x) {
    position: absolute;

    @if ($type==x) {
        left: 50%;
        transform: translateX(-50%);
    }

    @if ($type==y) {
        top: 50%;
        transform: translateY(-50%);
    }

    @if ($type==xy) {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

// 文字两端对齐
%justify-align {
    text-align: justify;
    text-align-last: justify;
}

// 清除浮动
%clearfix {
    zoom: 1;

    &::before,
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}


// 设置宽高
@mixin width-height($width: 100%, $height: 100%) {
    width: $width;
    height: $height;
}

// 设置flex布局
@mixin flex-box($justify-content: center, $align-items: center, $flex-direction: row) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
// @import "@/assets/styles/utils/_index.scss";